
body {
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(89, 90, 94);
}
#calculator {
    box-shadow: 0.3rem 0.3rem #383636;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(141, 117, 168);
    margin-top: 1rem;
    width: 19.7rem;
    height: 30rem;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(237, 237, 237);
    border: solid black 1px;
    margin: 1.2rem;
    margin-bottom: 0.5rem;
    width: 85%;
    height: 5rem;
    align-items: flex-end;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}
#clear,
#functional {
    margin-left: -1.7rem;
}
#buttonLists{
    margin-bottom: -3rem;
}
button {
    border:rgb(79, 62, 68);
    font-family: monospace;
    font-size: 1.2em;
    border-radius: 5rem;
    background-color: white;
    width: 4.2rem;
    height: 4.2rem;
    box-shadow: 0.27rem 0.18rem #655d62;
}
.screenTop {
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1.5rem;
}
.screenBottom {
    margin-bottom: 0.9rem;
    margin-right: 0.8rem;
    font-size: 1.9rem;
}
button:hover {
    background-color: rgb(205, 148, 170);
    color: whitesmoke;
    font-size: 1.2rem;
}
button {
    transition: 0.25s;
}
.num:hover {
    font-size: 1.2rem;
}
button:active {
    box-shadow: 0.05rem 0.05rem #363435;
    transform: translateY(0.15rem);
    transform: translateX(0.15rem);
    background-color: rgb(125, 70, 93);
}
