header {
    padding: 10px;
    font-size: 32px;
    top: 0;
}
footer {
    font-size: 16px;
    padding-top: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgb(28, 70, 85);
    color: white;
    width: 100%;
}
header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(222, 236, 242);
}
#calculator {
    box-shadow: 5px 5px #666;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(141, 117, 168);
    margin-top: 30px;
    width: 470px;
    height: 660px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(240, 246, 249);
    border: solid black 1px;
    margin: 25px;
    width: 90%;;
    height: 150px;;
    align-items: flex-end;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -15px;
}
button {
    font-family: monospace;
    font-size: 22px;
    border-radius: 5px;
    background-color: white;
    width: 97px;
    height: 80px;;
}
.screenTop {
    padding: 5px;
    padding-top: 15px;
    font-size: 24px;
}
.screenBottom {
    padding: 5px;
    padding-top: 10px;
    font-size:42px;
}
button:hover {
    background-color: rgb(205, 148, 170);
    color: whitesmoke;
    font-size: 28px;
}
button {
    transition: 0.25s;
}
.num:hover {
    font-size: 32px;
}
button:active {
    box-shadow: 2px 5px #666;
    transform: translateY(2px);
}